{
  "extends": ["taro/react"],
  "rules": {
    "import/no-commonjs": "off",
    "no-undefined": "error",
    "no-unused-expressions": "error",
    "no-unused-vars": "error",
    "no-redeclare": "error",
    "jsx-quotes": "off",
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off"
  }
}
